/*Text umbrechen lassen*/
#tree a {white-space:normal; height: auto; padding: 1px 2px;}
#tree li > ins {vertical-align: top;}
#tree .jstree-hovered, #tree .jstree-clicked {border: 0;}
/*Abstände zwischen nodes vergrössern*/
#tree li { min-height:22px; line-height:22px; }
/*#tree a { line-height:20px; height:20px; font-size:10px; }*/
#tree a ins { height:20px; width:20px; background-position:-56px -17px; }

/*gesuchte Einträge formattieren*/
.jstree-search {color: #CC012A !important;}

body {
	background-color: #FFFFF7;
	height:100%;
}

fieldset {
	background-color: #FFE;
	border:1px solid;
	border-color:#A5A59A;

	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size:16px;

	margin:10px 10px 10px 10px;
	padding: 10px 10px 10px 15px;
	display:block;
}

.form label {
	display:block;
	float:left;
	width:120px;
	text-align:right;
	vertical-align: top;
	color:#6F6F66;
	margin:2px 7px 0px 0px;
}

legend {
	color:#6F6F66;
}

input {
	background-color: #FFFFF7;
}

/*alle Datenfelder links ausrichten*/
.Datenfelder {
	float:left;
}

.form [type=text], .form textarea, .form select {
	width:700px;
}

.form [type=number] {
	width: 200px;
}

.form input, .form select {
	font-size:17px;
}

/*komischerweise kommen textareas in anderer Schrift*/
.form textarea {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size:17px;
}

/*alle Datenfelder von den letzten absetzen*/
.form .fieldcontain {
	padding-top:10px;
	/*floaten von label und Datenfeld des letzten Feldes aufheben*/
	clear:both;
}


.clear {
	clear:both;
}

.ui-button-text {padding:.1em .5em !important; font-size:.8em !important;}

.form {display:block; margin-left:auto; padding-left:390px; padding-top:1px;}

.ui-widget-content {
	background:#FAF3D9 !important;
}