body {
	background-color: #FFFFF7;
}

#wrapper {
	width: 100%;
}

#menu {
	margin-bottom: 8px;
}

/*
* unter 1000px beide Spalten übereinander lassen
* 1000px ist auf PC's optimal. Mein Handy hat 1280px, reagiert aber auf handheld
* iPhone ignoriert handheld leider
*/
/*@media handheld, only screen and (max-width: 1000px) {
	#menu {
		margin-bottom: 8px;
	}
}*/

/*über 1000px nebeneinander*/
@media screen and (min-width: 1001px) {
	#menu {
		width: 370px;
		float: left;
		margin-right: 8px;
		margin-bottom: 0px;
	}

	#tree {
		width: 370px;
	}
}

fieldset {
	background-color: #FFE;
	border: 1px solid;
	border-color: #A5A59A;
	border-radius: 8px;

	font-family: Arial, Verdana, Helvetica, sans-serif !important;
	font-size: 16px !important;

	/*irgenwoher iherited #forms 2px margin rechts und links*/
	margin-left: 0;
	margin-right: 0;
	padding: 0 0 0 0;
}

#undelete_div {
	margin-bottom: 8px;
	text-align: center;
	font-weight: bold;
	background-color: rgba(255, 204, 51, 0.7);
	display: none;
}

/*Text umbrechen lassen*/
#tree a {
	white-space:normal; 
	height: auto;
	padding: 1px 2px;
}

#tree li > ins {
	vertical-align: top;
}

#tree .jstree-hovered, #tree .jstree-clicked {
	border: 0;
}

/*Abstände zwischen nodes vergrössern*/
#tree li {
	min-height:22px; 
	line-height:22px;
}

#tree a ins {
	height:20px;
	width:20px;
	background-position:-56px -17px;
}

#tree {
	overflow: auto;
}

/*gesuchte Einträge formattieren*/
.jstree-search {
	color: #CC012A !important;
}

#forms form {
	padding: 7px 7px 7px 7px;
}

#suchen {
	/*komischerweise wird hier Schrift und -grösse verändert*/
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
}

#forms #exporte {
	padding: 10px 0 10px 10px;
}

form h1 {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
}

form table {
	width: 100%;
}

form table label {
	display: block;
	margin-top: 2px;
	text-align: right;
	vertical-align: top;
	color: #6F6F66;
}

.label {
	width: 140px;
	display: block;
}

/*in Beob sollen Felder in ganzer Breite sichtbar sein, da hier lange und zusammenhängende Namen vorkommen, die nicht umgebrochen werden*/
#beob .label, #tpopbeob .label {
	width: 215px;
	word-wrap: break-word;
}

/*Bei Feldern, die eingerahmt sind (Fieldset) muss das Label schmaler sein, damit alle Felder ausgerichtet sind*/
.label_fieldset {
	width: 129px;
	display: block;
}

form table td {
	padding-bottom: 8px;
}

form table tr {
	width: 100%;
}

td.Datenfelder {
	padding-left: 5px;
	width: 100%;
	padding-right: 10px;
}

.export_abschnitt_tooltip_class {
	font-size: 12px;
}

/*im tab soll der zusätzliche Rand klein sein*/
.ui-tabs .ui-tabs-panel {
	padding-left: 0;
	padding-right: 0;
}

form fieldset {
	padding-left: 10px;
	padding-bottom: 4px;
	margin-bottom: 10px;
}

fieldset legend {
	color:#6F6F66;
	font-weight:bold;
}

input {
	background-color: #FFFFF7;
}

[readonly='readonly'] {
	background-color: #FFE;
	border:none;
}

[type=text], [type=url], textarea, select {
	width:100%;
}

[type=radio]:first-child, [type=checkbox]:first-child {
	margin-top:6px;
}

[type=number] {
	width: 150px;
}

.Datum {
	width: 150px;
}

#forms input,
#forms select,
#forms textarea {
	font-size:17px !important;
	/*alle inputs genau links ausrichten - sind sonst nicht alle gleich weit links*/
	margin-left:2px !important;
}

/*komischerweise kommen textareas in anderer Schrift*/
textarea {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size:17px;
}

.ui-button-text {
	padding:.1em .5em !important; 
	font-size:.8em !important;
}

.ui-widget-content {
	background:#FAF3D9!important;
}

.form .ui-widget-content {
	background:#FFE!important;
}

.form .ui-tabs {
	border-width: 0;
}

option {
	white-space:pre;
}

.limiter {
	font-size: 11px;
	font-style: italic;
	color: grey;
	margin-left: 4px;
	margin-top: -4px;
}

.ui-widget .fieldcontain {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size:16px;
}

.ui-tabs .ui-widget-header {
	background: none;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-radius: 0;
	border-color: #A5A59A;
}

.ui-tabs .ui-state-default {
	background: none;
	border-color: #E2E2CF;
}

.ui-tabs .ui-state-active {
	border-color: #A5A59A;
}

.ui-tabs .ui-tabs-nav li {
	border-bottom: 1px solid #FFE;
}

.border_top {
	border-top: 1px solid #999;
	padding-top: 10px;
	margin-right: 10px;
}

#vakata-contextmenu {
	width:230px;
}

/*pattern: wenn nicht erfüllt, markieren*/
:invalid {
	border: 2px solid #ff0000;
}

/*für Google Map*/
.GmInfowindow {
    line-height: 0.3;
    margin-top: 0.3;
    margin-bottom: 0;
    white-space: nowrap
}

.PopupText {
	text-align:center; 
	margin:6px 4px 4px 4px; 
	font-weight:bold;
}

.MapLabel {
	color:white;
	 font-family: "Lucida Grande", "Arial", sans-serif;
	 font-size: 12px;
	 font-weight: 900;
	 font-color: white;
	 text-align: center;
	 width: 150px;     
}

/*Für Tool-Tipps*/
.apf-with-tooltip span {
	border-bottom: 1px dotted #000000;
	cursor: help;
}

/*erforderliche Felder rot markieren*/
label.erforderlich,
label.erforderlich span {
	color: #800000;
}

/*tooltip gestalten, jQuery ui überprägen*/
.tooltip-styling-hinterlegt {
    max-width: 500px !important;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    padding-top: 1px;
    padding-bottom: 1px;
    opacity: 0.8;
    margin-top: 16px;
}

.export_abschnitt_exporte {
	-moz-column-width: 300px;
	-webkit-column-width: 300px;
	column-width: 300px;
}

#exporte button {
	text-align: left;
}

/*Auf iOS soll bei taphold im Baum das Systemmenu nicht öffnen*/
/*funktioniert, wenn man wenig lang drückt. Bei sehr lang wird das Kontextmenu gar nicht aufgerufen, dafür das Systemmenu...*/
body {
    -webkit-touch-callout: none !important;
}
a {
	-webkit-user-select: none !important; 
}

#GeoAdminKarte,
#google_karte {
	height: 100% !important;
	width: 100%;
	display: none;
	/*height: -webkit-calc(100% - 16px) !important;
	height: -o-calc(100% - 16px) !important;
	height: calc(100% - 16px) !important;*/
}

#google_karte {
	border-radius: 8px;
	overflow: hidden;
	position: relative;
}

#distanz_messen {
	position: absolute;
	top: 4px;
	left: 80px;
	/*vor die Karte aber nicht vor die Meldungen*/
	z-index: 800;
}
#distanz_messen_entfernen {
	position: absolute;
	top: 4px;
	left: 200px;
	/*vor die Karte aber nicht vor die Meldungen*/
	z-index: 800;
}
.google_karte_checkbox {
	margin-right: 5px;
}
.google_karte_detailplaene_checkbox + label {
	color: yellow;
	padding-left: 5px;
}
.google_detailplaene_div {
	position: absolute;
	top: 4px;
	left: 350px;
	/*vor die Karte aber nicht vor die Meldungen*/
	z-index: 800;
}

#ga_karten_div {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
}

/*CH-Übersicht mit runden Ecken*/
.olControlOverviewMapElement {
	border-radius: 8px;
}

#olmap_layertree {
	width: 302px;
	overflow: hidden;
	position: absolute;
	right: 50px;
	z-index: 1009;
	top: 8px;
	border-radius: 6px;
}

#olmap_layertree .ui-button-text {
    font-size: 16px !important;
}

#olmap_layertree .ui-accordion-header {
    padding-left: 1.9em;
    padding-top: .2em;
    padding-bottom: .2em;
    font-size: 16px;
}

#olmap_layertree .ui-accordion-content {
    padding-left: 0;
    padding-right: 0;
    padding-top: .3em;
    padding-bottom: .3em;
    font-size: 14px;
    line-height: 1em;
    opacity: 0.97;
}

#olmap_layertree_layers {
    padding-top: 0 !important;
    padding-bottom: .1em !important;
}

#olmap_layertree .ui-accordion-content li {
    padding-left: 2.1em;
    padding-right: 1em;
}

#olmap_layertree .ui-accordion-content hr {
    color: #E0CFC2;
    border-style: inherit;
}

#olmap_layertree [type=checkbox]:first-child {
    margin-top: 0;
    margin-left: 0 !important;
    margin-bottom: 0;
}

#olmap_layertree li label {
    padding-left: 5px;
}

.olmap_tooltip {
	z-index: 2000;
	min-width: 300px;
}

#menuleiste {
	position: absolute;
	top: 8px;
	left: 57px;
	/*vor die Karte aber nicht vor die Meldungen*/
	z-index: 800;
}

#menuleiste .ui-button {
    padding: .2em .2em !important;
}

/*Koordinatenanzeige gestalten*/
#GeoAdminKarte .ol-mouse-position {
    font-weight:900;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	/*Koordinaten weiss hinterlegen, damit sie auf jedem Hintergrund gut sichtbar sind*/
	text-shadow: 0 1px 1px white,1px 0 1px white,0 -1px 1px white,-1px 0 1px white,0 2px 1px white,2px 0 1px white,0 -2px 1px white,-2px 0 1px white;
	top: 16px;
	right: 362px;
}

#ergebnisMessung {
	font-weight:900;
	font-size: 16px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	/*weiss hinterlegen, damit auf jedem Hintergrund gut sichtbar*/
	text-shadow: 0 1px 1px white,1px 0 1px white,0 -1px 1px white,-1px 0 1px white,0 2px 1px white,2px 0 1px white,0 -2px 1px white,-2px 0 1px white;
	margin-top: 5px;
	padding-left: 7px;
}
#ergebnisAuswahl {
	display: none;
	border: 1px solid #e0cfc2; background: #f4f0ec url(images/ui-bg_inset-soft_100_f4f0ec_1x100.png) 50% bottom repeat-x; color: #1e1b1d;
	border-radius: 6px;
	opacity: 0.9;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
}
#ergebnisAuswahl #ergebnisAuswahlHeader {
	padding: 3px 1px 3px 6px;
	font-weight: bold;
	border-bottom: 1px solid #e0cfc2;
}
#ergebnisAuswahlHeaderText {
	display: inline;
}
#ergebnisAuswahlHeader .ui-icon.ui-icon-closethick {
	float: right;
	margin: 0 0 1px 1px;
	background-image: url(images/ui-icons_1E1B1D_256x240.png);
	height: 18px;
}
#ergebnisAuswahlHeader .ui-icon.ui-icon-closethick:hover {
	background-image: url(images/ui-icons_f08000_256x240.png);
}
#ergebnisAuswahlListe {
	overflow: auto;
	max-height: 400;
	/*padding: 3px 6px 3px 6px;*/
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: normal;
	border-bottom: 1px solid #e0cfc2;
	line-height: 16px;
}
p.ergebnisAuswahlListeTitel {
	font-weight: bold;
	padding-left: 6px;
	padding-right: 6px;
}
p.ergebnisAuswahlListeTitelTPop {
	padding-top: 3px;
	border-top: 1px solid #e0cfc2;
}
#ergebnisAuswahlListe a {
	color: #1E1B1D;
	text-decoration: none;
}
#ergebnisAuswahlListe a:hover {
	/*text-decoration: underline;*/
	border-bottom: 1px #848384 dotted;
}
#ergebnisAuswahlListe td:first-child {
	text-align: right;
	padding-right: 8px;
}
#ergebnisAuswahlListe td {
	padding-left: 6px;
	padding-right: 6px;
}
#ergebnisAuswahlFooter {
	padding: 3px 6px 3px 6px;
}
#ergebnisAuswahlFooter a {
	color: #1E1B1D;
}
#toggleLayertree {
	position: absolute;
	left: 4px;
	top: 6px;
}
/*'(c) Daten' ausblenden*/
.olControlAttribution.olControlNoSelect {
	display: none;
}

/*drüberstylen, weil GeoAdmin-Aufruf dies nötig macht*/

form input {
	margin-top: 2px;
	margin-bottom: 2px;
}

input[type="radio"] {
	margin: 3px 3px 0 5px;
}

form input[type="text"] {
	margin-top: 3px;
}

form ol li {
	margin-bottom: 2px;
	padding-bottom: 2px;
}

form ol {
	list-style-type: decimal;
	padding-left: 40px;
}

form ul {
	padding-left: 40px;
}

form ul li {
	list-style-type: disc;
	margin-bottom: 2px;
}

form p {
	margin: 16px 0 16px 0;
}

form h2 {
	font-size: 24px;
}

.GmInfowindow h3, .GmInfowindow p, .GmInfowindow a {
	font-size: 14px;
	margin: 3px 0 3px 0;
	line-height: 16px;
}

.GmInfowindow h3 {
	font-size: 16px;
	line-height: 20px;
}

.olFramedCloudPopupContent h3, .olFramedCloudPopupContent p, .olFramedCloudPopupContent a {
	font-size: 14px;
	margin: 3px 0 3px 0;
	line-height: 16px;
}

.olFramedCloudPopupContent h3 {
	font-size: 16px;
	margin-top: 6px;
	line-height: 20px;
}

/*Im Kontextmenu des Baums die Bilder etwas nach unten schieben*/
#vakata-contextmenu ins {
	margin-top: 2px;
}

/*Tabelle in Dialog stylen*/
.ui-dialog-content td:first-child {
	text-align: right;
	padding-right: 8px;
}

.ui-dialog-content td {
	font-size: 16px;
}

/*
** darin wird der Text des tooltips versteckt
** daher ausblenden
*/
.tooltiptext {
    display: none;
}

.tooltiptext p {
    padding-top: 0;
    padding-bottom: 0;
}

.tooltiptext > p ~ table,
.tooltiptext > p ~ ul {
    margin-top: -7px;
}

.tooltiptext ul {
    margin-left: -22px;
}

.tooltiptext table {
    border-collapse: collapse;
}

.tooltiptext tr {
    vertical-align: top;
}

.tooltiptext .apf-tr-with-border-bottom td {
    border-bottom: 1px dotted rgb(191, 191, 191);
}

.tooltiptext tr td {
    padding-top: 5px;
}

.tooltiptext tr td {
    padding-bottom: 5px;
}

.qtip {
	font-size: 13px;
	max-width: 450px;
}

.qtip-titlebar {
    -moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
  	line-height: 1.1;
}

.qtip-content {
	padding-bottom: 0;
	padding-top: 0;
    line-height: 1.2;
    -moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.olmap_popup_styling .qtip-content {
	max-height: 250px;
	overflow: auto;
	width: 230px;
	padding-left: 0;
	padding-right: 0;
}

.olmap_popup_styling .qtip-content h3 {
	margin-top: 6px;
	margin-bottom: 0px;
	padding-left: 9px;
	padding-right: 9px;
}

.olmap_popup_styling .qtip-content p {
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 9px;
	padding-right: 9px;
}

.olmap_popup_styling .qtip-content p + hr {
	margin-top: 10px;
}

.olmap_popup_styling .qtip-content p:first-child {
	margin-top: 8px;
}

.olmap_popup_styling .qtip-content p:last-child {
	margin-bottom: 10px;
}

.olmap_popup_styling .qtip-content table p:first-child {
	margin-top: 0;
}

.olmap_popup_styling .qtip-content table p:last-child {
	margin-bottom: 0;
}

.olmap_popup_styling .qtip-content table {
    border-collapse: collapse;
	margin-bottom: 8px;
	margin-top: 8px;
	padding-left: 9px;
	padding-right: 9px;
}

.olmap_popup_styling .qtip-content tr {
	vertical-align: top;
}

.olmap_popup_styling .qtip-content hr {
	border:0;
	height: 1px;
	background: rgb(191, 191, 191);
}